<table class="table">
  <tr>
    <td>First Name</td>
    <td><input type="text" [(ngModel)]="data.firstName" class="form-control"></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><input type="text" [(ngModel)]="data.lastName" class="form-control"></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" [(ngModel)]="data.email" class="form-control"></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" [(ngModel)]="data.contact" class="form-control"></td>
  </tr>
</table>